<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><title>{{ page.title }}</title></head>
<body>
  <article>
    {% for profile in page.profiles %}
      <hr>
      <div class="profile float-{{ profile.align }}">
        {% if profile.image %}
          <img src="{{ '/assets/img/' | append: profile.image | relative_url }}"
               alt="{{ profile.name }}"
               class="img-fluid z-depth-1 {{ profile.image_circular | default: true | ? 'rounded-circle':'rounded' }}">
        {% endif %}
        {% if profile.more_info %}
          <div class="more-info">{{ profile.more_info }}</div>
        {% endif %}
      </div>
      <div class="clearfix">
        {% if profile.content %}
          {% include_relative {{ profile.content }} %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    {% endfor %}
  </article>
</body>
</html>
